<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDGC</title>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <a href="/" class="brand-logo">
            <img src="imgs/nagalandsdglogo.png" class="brand-img"  />
        </a>

        <div class="icon-menu" id="icon-menu">
            <div class="icon-menu__bar icon-menu__bar--one"></div>
            <div class="icon-menu__bar icon-menu__bar--two"></div>
            <div class="icon-menu__bar icon-menu__bar--three"></div>
        </div>

        <nav class="main-nav" id="main-nav">
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link main-menu__link--active">Explore Index</a>
                </li>
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link">Download</a>
                </li> 
            </ul>
        </nav>
    </header>

    <section class="home-main">
        <div class="home-main__split home-main__split--left">

        </div>
        <!-- <div class="home-main__middle">
            <img src="imgs/earth.png"   class="home-main__img" />
        </div> -->
        <div class="home-main__split home-main__split--right">
            <div class="home-partners-logo">
                <img src="imgs/UNDP_logo.svg.png"  alt="" class="img-fluid" /> 
                <!-- <img src="imgs/niti_logo_text1.svg"  alt="" class="img-fluid" />  -->
            </div>
            <h1 class="home-main__title">NAGALAND SDG DASHBOARD</h1>
            <div class="text-container">
                <p class="home-main__description">
                   Index & Dashboard 2024 <br>
                   Partnership in the Decade of Action
                </p>
            </div>
            <a href="public-dashboard.html" class="page-link"> <img src="imgs/sdg_explore.svg"  alt="" class="img-fluid" /> </a>
        </div>
    </section>


    <script src="js/main.js"></script>
</body>

</html>