<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDGC</title>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <a href="/" class="brand-logo">
            <img src="imgs/nagalandsdglogo.png" class="brand-img" />
        </a>

        <div class="icon-menu" id="icon-menu">
            <div class="icon-menu__bar icon-menu__bar--one"></div>
            <div class="icon-menu__bar icon-menu__bar--two"></div>
            <div class="icon-menu__bar icon-menu__bar--three"></div>
        </div>

        <nav class="main-nav" id="main-nav">
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link main-menu__link--active">Explore Index</a>
                </li>
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link">Download</a>
                </li> 
            </ul>
        </nav>
    </header>

    <div class="slider" id="slider" data-width="100">
        <button class="control_next">&rarr;</button>
        <button class="control_prev">&larr;</button>
        <ul>
            <li class="actslide">
                <div class="slide slide1">
                    
                </div>
            </li>
            <li>
                <div class="slide slide2">
                </div>
            </li>
            <li>
                <div class="slide slide3">
                </div>
            </li>
            <li>
                <div class="slide slide4">
                </div>
            </li>
        </ul>
        <div class="shadow">
            <div class="teaser teaser1">
                <div class="undp-partners-logo">
                    <img src="imgs/UNDP_logo.svg.png" alt="" class="img-fluid" />
                    <!-- <img src="imgs/niti_logo_text1.svg"  alt="" class="img-fluid" />  -->
                </div>
                <h3>  </h3>
                <h2>NAGALAND SDG DASHBOARD</h2>
                <p>Index & Dashboard 2024 <br> Partnership in the Decade of Action</p>
                <a href="public-dashboard.html" class="page-link"> <img src="imgs/sdg_explore.svg"  alt="" class="img-fluid" /> </a>
            </div>
        </div>
        <div class="progress">
            <div class="bar"></div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>