.bg-progress-custom-first {
  background-color: #dc3545;
}

.bg-progress-custom-second {
  background-color: #ffc107;
}

.bg-progress-custom-third {
  background-color: #009f84;
}

.bg-progress-custom-fourth {
  background-color: #00aeee;
}
